.lhs__techclass__container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  max-width: 400px;
}

.lhs__techclass__img {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
}

@media screen and (max-width: 400px) {
  .lhs__techclass__img {
    padding: 0;
  }
}
