.lhs__techclasses {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #271449 1%,
    #691378 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #271449 1%,
    #691378 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 30% -100%, #271449 1%, #691378 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #271449 1%,
    #691378 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 30% -100%, #271449 1%, #691378 100%);
}

.lhs__techclasses-feature {
  display: flex;
}

.lhs__techclasses-feature .lhs__features-container__feature {
  margin: 0;
}

.lhs__techclasses-feature .lhs__features-container__feature-text {
  max-width: 700px;
}

.lhs__techclasses-container .lhs__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
  justify-content: flex-start;
}

.lhs__techclasses-container .lhs__features-container__feature-text {
  margin-top: 0.5rem;
}

.section__margin_small {
  margin: 2rem 3rem;
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .lhs__techclasses-feature .lhs__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .lhs__techclasses-feature .lhs__features-container__feature-text {
    margin-top: 0.5rem;
  }

  .section__margin_small {
    margin: 1rem 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .lhs__techclasses-container .lhs__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}

.lhs__techclasses-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
